<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>BTS Search results</title>
<script src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dash.css') }}">


</head>

<body>
<div class="container-fluid">
<div class="row">
    <div class="col-md-12"> 
         <h3> Certificate details </h3>

        <table class="table">
         <thead>
             <tr>
                 <th>Name</th>
                 <th>Value</th>
             </tr> 
         </thead> 
         <tbody>
             <tr>
                 <td>Certificate alternate names</td>
                 <td>webmail.barc.gov.in </td>
             </tr>
             <tr>
                 <td>Certificate common names</td>
                 <td>webmail.barc.gov.in </td>
             </tr>
             <tr>
                 <td>Certificate extended validation</td>
                 <td>N </td>
             </tr>
             <tr>
                 <td>Certificate issuer label </td>
                 <td>N </td>
             </tr>
             <tr>
                 <td>Certificate issuer subject </td>
                 <td>N </td>
             </tr>
             <tr>
                 <td>Certificate revocation status </td>
                 <td>N </td>
             </tr>
             <tr>
                 <td>Certificate signature algorithm </td>
                 <td>N </td>
             </tr>
             <tr>
                 <td>Certificate subject </td>
                 <td>N </td>
             </tr>
             <tr>
                 <td>Certificate validity </td>
                 <td>N </td>
             </tr>
             <tr>
                 <td>Certificate SCT support </td>
                 <td>N </td>
             </tr>
 
         </tbody>

        </table> 

    </div>
</div>
    <div class="row">    
	    <div class="col-md-4">
                <div class="metric">
                <div class="value">   
	            <h3>Heatbleed</h3>
                        No
	        </div> 
                </div>   
            </div>

	    <div class="col-md-4">
                <div class="metric">
                <div class="value">   
	            <h3>SNI support</h3>
                        No
	        </div> 
                </div>   
	    
            </div>

	    <div class="col-md-4">
                <div class="metric">
                <div class="value">   
	            <h3>Crime</h3>
                        No
	        </div> 
                </div>   

            </div>


		
	</div>
</div>	

</body>

</html>
